#footer
  background: #fff
  padding: 50px 0
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer p
	text-align:center
	color:#999
#footer ul
	text-align:center
	color:#999
#footer ul li
	display:inline-block
#footer ul li a
	color:#333
#footer ul li a:hover
	color:#0085a1
#footer-info
  line-height: line-height
  font-size: 0.85em